.widgetLg{
    flex: 2;
    box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 15px -1px rgba(0,0,0,0.4);
    padding: 20px;
}
.widgetLgTitle{
    font-size: 22px;
    font-weight: 600;
}
.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}
.widgetLgTh{
    text-align: left;
}

.widgetLgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.widgetLgButton.aprobado{
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButton.pendiente{
    background-color: #ebf1fe;
    color: #2a7ade;
}
.widgetLgButton.rechazado{
    background-color: #fff0f1;
    color: #d95087;
}
.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widgetLgDate,.widgetLgMount{
    font-weight: 300;
}
.widgetLgStatusIcon{
    font-size: 18px;
    padding-right: 4px;
}